.controller-item {
    height: 50px;
    width: 50px;
    background-color: var(--clr1);
    border-radius: 1em;
    padding: 5.5px 5px 5px 5.5px;
}
.controller-item:active{
    background-color: var(--clr5);
}
.controller-item img {
    object-fit: contain;
}

.drawing-controller {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7,1fr);
    grid-template-areas:
        "txt-input txt-input txt-input txt-input txt-input"
        "arrow-up arrow-down . add-line del"
        "txt-plus txt-minus align-left align-center align-right"
        "font-select font-select font-select stroke-clr font-clr"
        "emojs emojs emojs emojs emojs"
        "emojs emojs emojs emojs emojs"
        "save-btn save-btn . dw-btn dw-btn"
    ;
    gap: 1em;
}

.txt-input {
    grid-area: txt-input;
    font-size: 1.25em;
    background-color: var(--clr3);
    color: var(--clr1);
    border-radius: 1em;
    padding-left: 0.5em;
}

.arrow-up {
    grid-area: arrow-up;
}

.arrow-down {
    grid-area: arrow-down;
}

.add-line {
    grid-area: add-line;
}

.del {
    grid-area: del;
}

.txt-plus {
    grid-area: txt-plus;
}

.txt-minus {
    grid-area: txt-minus;
}

.font-select {
    grid-area: font-select;
    font-size: 1.25em;
    background-color: var(--clr3);
    color: var(--clr1);
    border-radius: 1em;
}

.stroke-clr {
    grid-area: stroke-clr;
}

.font-clr {
    grid-area: font-clr;
}
.align-left{
    grid-area: align-left;
}
.align-center{
    grid-area: align-center;
}
.align-right{
    grid-area: align-right;
}

.emojs{
    grid-area: emojs;
    font-size: 3.3em;
    background-color: var(--clr1);
    border-radius: 0.2em;
}
.emojs span{
    cursor: pointer;
}

.drawing-controller button{
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    color: var(--clr1);
    background-color: var(--clr3);
}

.dw-btn {
    grid-area: dw-btn;
}

.dw-btn a {
    color: var(--clr1);
    text-decoration: none;
}

.save-btn{
    grid-area: save-btn;
}