/* --- Gallery --- */
.gallery-container {
    background-color: var(--clr2);
    display: none;
}

body.gallery-open .gallery-container{
    display:block;
}

.gallery {
    padding: 1em 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: center;
    gap: 1em;
}

.grid-item img {
    object-fit: cover;
    cursor: pointer;
    border-radius: 2em;
    box-shadow: 3px 3px 7px 1px var(--clr6);
}
