/* --- MemeGen --- */
.memegen {
    background-color: var(--clr2);
    display: none;
}

body.memegen-open .memegen {
    display: flex;
}

.memegen-container>div {
    width: 100%;
}

.memegen-container {
    padding: 0.5em 0;
    width: 100%;
}