/* --- MemeGen --- */
.memegen {
    background-color: var(--clr2);
    height: 80vh;
}

.memegen-container div{
    flex-basis: 50%;
    border:1px solid black;
}
.memegen-container{
    padding:1.625em 3.125em;
    width:100%;
}