/* //-- search bar -- */
.search-image-container {
    padding: 1.4em;
    object-fit: contain;
    background-color: var(--clr1);
}

.search-image {
    font-size: 1.1875em;
    line-height: 1.2;
    box-shadow: inset 0px -2px var(--clr4);
    border: none;
    color: var(--clr4);
}

.search-image-container div {
    display: inline-block;
    height: 1em;
    width: 1em;
}